In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
pd.isnull(url)

False

In [28]:
import pandas as pd
drink = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(drink)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [34]:
df.shape

(391, 11)

In [35]:
https://chatgpt.com/share/5a9ceaea-0f12-4725-9c05-6f03016942c3

SyntaxError: invalid decimal literal (337472399.py, line 1)

In [ ]:
The observation means the same as column while the variable means the same as row

In [37]:
import pandas as pd

# Sample dataset
data = {
    'age': [23, 45, 25, 30, 45, 23, 36],
    'salary': [50000, 60000, 55000, 52000, 60000, 50000, 58000],
    'gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M']
}

# Creating the DataFrame
df = pd.DataFrame(data)

In [38]:
df.describe()

             age        salary
count   7.000000      7.000000
mean   32.428571  55000.000000
std     9.727232   4434.711565
min    23.000000  50000.000000
25%    24.000000  51000.000000
50%    30.000000  55000.000000
75%    40.500000  59000.000000
max    45.000000  60000.000000

In [40]:
import pandas as pd

# Sample dataset
data = {
    'age': [23, 45, 25, 30, 45, 23, 36],
    'salary': [50000, 60000, 55000, 52000, 60000, 50000, 58000],
    'gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M']
}

# Creating the DataFrame
df = pd.DataFrame(data)

In [41]:
df['gender'].value_counts()

gender
M    4
F    3
Name: count, dtype: int64

In [42]:
import pandas as pd
P =  "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(P)
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [43]:
df.shape

(891, 15)

In [44]:
import pandas as pd
P =  "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(P)
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [45]:
df.describe

<bound method NDFrame.describe of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [46]:
df.shape reflects the total number of columns in the dataset, including non-numeric ones.
df.describe() only reports on numeric columns

df.shape reflects the total number of rows, including those with missing values.
df.describe() shows the number of non-missing values

SyntaxError: invalid syntax (1890427710.py, line 1)

In [47]:
Attributes showcase data that related to that object and don’t require parentheses to access.
Methods define behaviors that can be performed on or by the object and require parentheses because they are called like functions

SyntaxError: invalid character '’' (U+2019) (1046721776.py, line 1)

In [48]:
Count:

Definition: The number of non-null entries (observations) in the dataset for each variable.
Purpose: Helps to understand how many values are present and if there are any missing values.
Mean:

Definition: The average of all the values for a variable. It is calculated as the sum of all values divided by the count of values.
Purpose: Provides a measure of the central tendency of the data.
Std (Standard Deviation):

Definition: A measure of the amount of variation or dispersion in the values of a variable. It quantifies the average distance of each value from the mean.
Purpose: Helps to understand the spread or variability in the data.
Min:

Definition: The smallest value in the dataset for a variable.
Purpose: Indicates the lower boundary of the data range.
25% (First Quartile, Q1):

Definition: The value below which 25% of the data falls. It is the 25th percentile of the data distribution.
Purpose: Provides insight into the lower part of the data distribution.
50% (Median or Second Quartile, Q2):

Definition: The middle value of the dataset when sorted in ascending order. Half of the data values fall below this point, and half fall above it.
Purpose: Measures the central point of the data, providing a robust indicator of central tendency.
75% (Third Quartile, Q3):

Definition: The value below which 75% of the data falls. It is the 75th percentile of the data distribution.
Purpose: Provides insight into the upper part of the data distribution.
Max:

Definition: The largest value in the dataset for a variable.
Purpose: Indicates the upper boundary of the data range.

SyntaxError: invalid decimal literal (657032132.py, line 19)

In [49]:
https://chatgpt.com/share/7be127ab-deb7-4ea0-9628-c93882635f31

SyntaxError: invalid decimal literal (2114281210.py, line 1)

In [50]:
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [np.nan, 2, 3, 4]
}
In this case, using df.dropna(subset=['A', 'B']) is preferred as I want to remove rows based on the presence of 
missing values in specific columns, not necessarily remove columns. del df['col'] would remove a column entirely.

SyntaxError: invalid syntax (196931557.py, line 6)

In [51]:
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
In this case, using del df['C'] is preferred as I want to remove an entire column that is irrelevant to my data, 
not just handle missing values.


Removing irrelevant columns first can make operations like dropna() more efficient and if I drop rows with missing 
values in columns that have already been removed, errors would exist.

SyntaxError: invalid syntax (3558592010.py, line 6)

In [52]:
generates descriptive statistics for a specified column (col2) within each group defined by another column (col1). 
This provides summary statistics like count, mean, standard deviation, minimum, maximum, and percentiles for each 
group.

SyntaxError: invalid syntax (3332503468.py, line 1)

In [ ]:
 df.describe() gives an overview of non-null values across the entire DataFrame, while 
df.groupby("col1")["col2"].describe() provides a better view of non-null counts within each group, 
highlighting differences in missingness across different categories.